@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

html{
    --bor-m: #FFFFFF33;
    --fnt-m: rgb(229 231 235 / var(--tw-text-opacity, 1));
    --bg-m: rgb(16 57 87 / var(--tw-bg-opacity, 1));
    --bg-s: #00000033;
}

body{
    width: 100vw;
    height: 100vh;

    z-index: 0;

    position: relative;

    overflow: hidden;

    background-size: 100% 100%;

    background: radial-gradient(60% 120% at 90% 110%, transparent 0%, #10395710 60%, #181A5F35 65%, #10395710 70%, #0C5E3925 75%, #10395710 80%,  transparent 100%), 
    radial-gradient(100% 100% at 50% 120%, #103957 0%, black 100%);
    
}

#__next{
    width: 100%;
    height: 100%;

    display: flex;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #FFFFFF15;
    border-radius: 50px;

    border: transparent solid 2px;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb{
    background-color: #103957DD;
    border-radius: 50px;

    border: transparent solid 2px;
    background-clip: padding-box;
}